<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap-5.3.0-dist/css/bootstrap.min.css">     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<style>
  .color-box {
    display: inline-block; /* Hiển thị các div theo chiều ngang */
    width: 50px;
    height: 50px;
    margin-left: 10px; /* Khoảng cách giữa các div */
}
.dropdown-menu {
  max-height: 200px; /* Đặt chiều cao tối đa của dropdown menu */
  overflow-y: auto; /* Cho phép cuộn khi nội dung vượt quá chiều cao tối đa */
}

.size-container {
display: flex;
flex-wrap: wrap;
}

.size-item {
margin-right: 10px;
margin-top: 40px;
margin-bottom: 10px;
}
.mota-short {
display: block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.mota-full {
display: none;
}




</style>
<body>
    
 <!-- khối 1  -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex align-items-center" style="height: 100px;">
                <div style="font-size: 24px;">
                    <i class="fas fa-phone" style="font-size: 34px;"></i>
                    +84 0967977673
                </div>
                <div style="font-size: 24px;" class="ms-5">
                    <i class="far fa-envelope"  style="font-size: 34px;"></i>
                    <%= objU.email %>
                </div>
                <div style="font-size: 24px; margin-left:730px ;">
                    <i class="fas fa-bell"  style="font-size: 34px;"></i>
                    Thông Báo
                </div>
                <div style="font-size: 24px; margin-left:130px ;">
                    <i class="fas fa-user"  style="font-size: 34px;"></i>
                    <%= objU.role %>
                </div>
             
            </div>
            <hr>

            <!-- Khối 2 -->
            <div class=" col-12">
                <div class="align-items-center bg-white">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="/sanpham">Home</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          
                              
                                  <li class="nav-item dropdown">
                                    <a class="navbar-brand dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Tìm Kiếm Sản Phẩm 
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="/sanpham/search">Tìm Kiếm</a></li>
                                      <li><a class="dropdown-item" href="#">Category</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="#">Tag</a></li>
                                    </ul>
                                  </li>
                           


                        
                             
                      </nav>
                </div>
            </div>
            
            <div class="ms-4 ms-4"><h1> Tìm Kiếm Sản Phẩm Theo Tên </h1>
              <a href="/sanpham">Home/</a>
       
             
             
            
            </div>
            <!-- khối 3 -->
            <div class=" col-12 col-sm-3 col-md-2"></div>
            <!-- khối 4 -->
            <div class=" col-12 col-sm-9 col-md-8">
              <div class="mt-5">
        
                <table class=" table table-bordered  mx-auto" border="1" >

                  <tr>
                    <th>ID</th>  
                     <th>Tên Sản Phẩm</th> 
                        <th>Ảnh</th>
                        <th>Mô Tả</th>
                        <th>Giá</th>
                        <th>Loại </th>
                        <th>Màu Sắc </th>
                        <th>Size Sản Phẩm  aaaaaaaaaaaaaaaaaaaaâaaa</th>
                        <!-- <th>Thêm Màu   </th>
                        <th>Sửa </th> -->
                        <!-- <th>Thêm Size   </th> -->
                        <th>Số Lượng Bán    </th>
                        <th>  Thời Gian Tạo    </th>
                     
                </tr>

                  <form action="" method="GET">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Nhập tên sản phẩm..." name="name" id="timKiem">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                      </div>
                    </div>
                  </form>
                  <br>

                  <% listsp.forEach((item)=>{ %>
                    <tr>
                        <td class="text-center"><%= item._id %></td> 
                          <td class="text-center"><%= item.name %></td>  
                            <td class="text-center">
                              <!-- <img src="<%= item.image %>" style="width: 130px;height: 70px;" alt=""> -->
                              <% listmauSP.forEach((mau) => { %>
                                <% if (mau.productId.toString() === item._id.toString()) { %>                                                                         
                                  <img src="<%= mau.image %>" style="width: 130px;height: 70px; margin-top: 20px;" alt="">                                                                                                           
                                <% } %>
                            <% }); %>
                            </td>
                            <td class="text-center"><%= item.describe %></td>
                            <td class="text-center"><%= item.price %></td>
                            <td class="text-center"><%= item.category %></td>
                            <td class="text-center">
                              <% listmauSP.forEach((mau) => { %>
                                <% if (mau.productId.toString() === item._id.toString()) { %>
                                  
                                            
                                            <a href="/sanpham/updatemau/<%= mau._id %>/<%= item._id %>"  class="color-box" class="text-center" style=" margin-top: 25px;background-color: <%= '#' + mau.colorId %>; width: 50px; height: 50px;"></a>
                                                             
                                <% } %>
                            <% }); %>
                          </td>
                          <td class="text-center">
                            <div class="size-container">
                                <% listmauSP.forEach((mau) => { %>
                                    <% if (mau.productId.toString() === item._id.toString()) { %>                                                                         
                                        <% mau.sizes.forEach(size => { %>
                                            <div class="size-item"><%= size.size %> - <%= size.quantity %></div>
                                        <% }) %>                                                                                               
                                    <% } %>
                                <% }); %>
                            </div>
                        </td>
                            <!-- <td class="text-center"><a href="/sanpham/addmau/<%= item._id %>"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToj0igxTpTwdlpv19tJIK9o1HDY9G-M0SLSg&usqp=CAU" style="width: 30px;height: 30px;" alt=""></a>
                            </td>
                            <td>
                              <a href="/sanpham/update/<%= item._id %>"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfBR4wCLos45ns7dyxbE0m2-T6RfhzuHt5Ew&usqp=CAU" style="width: 30px;height: 30px;" alt=""></a>
                            </td>   -->
                                  <td><%= item.quantitySold %></td>
                                
                                  <td><%= item.timeCreate %></td>
                            
                    </tr>
    
                <% }) %>
                
                
      
              </table>
            </div></div>
           
            <div class=" col-12           col-md-2 d-none d-md-block"></div>
            <div class=" col-12 ">
              <img style="margin-left: 800px;margin-top: 50;" src="https://tse3.mm.bing.net/th?id=OIP.vR3c8gJDtTZuFFJLa3nHcwAAAA&pid=Api&P=0&h=180" alt="Mô tả ảnh" width="200" height="150">
            </div>
        </div>
</div> 




    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> 
    <script src="/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>
</body>
</html>

<!-- <form>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Nhập tên sản phẩm...">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">Tìm kiếm</button>
    </div>
  </div>
</form> -->